/* footer */

.page-content > .footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  height: 100px;
  background: #131519;
  border-bottom: solid 5px;
  border-right: solid 5px;
  border-left: solid 5px;
  border-color: #131519;
  box-shadow: -4px -19px 103px 32px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.page-content > .footer-content h5 {
  outline: solid 3px;
  outline-color: #5b6276;
  background: #373b47;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  height: 40px;
  font-weight: normal;
}

.page-content > .footer-content h5 b {
  font-family: "Alata", sans-serif;
  font-weight: bold;
  font-size: 28px;
}
